html {
  height: 100%;
  width: 100%;
}

#food-result {
    background: rgb(255, 246, 204);
    border: 2px dotted gold;
    font-size: 24px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 50px;
}   